footer {
    display: flex;
    font-size: 2vh;
    background-color: rgba(0,0,0,2);
    margin: -0.8vh -0.3vw;
    align-items: center;
    justify-content: center;
}

footer .info {
    display: block;
    list-style: none;
    text-decoration: none;
}

footer img {
    height: 18vh;
}