nav {
    display: flex;
    font-size: 2vh;
    background-color: rgba(0,0,0,2);
    margin: -0.5rem -0.5rem;
    padding: 1rem 3rem;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

nav img {
    height: 12vh;
    margin: -2rem 0rem;
    padding: 0rem 0rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.links a{
    text-decoration: none;
    transition: ease-in-out 0.2s;
    color: white;
}

.links a:hover {
    color: gray;
    transition: 0.2s;
    font-size: 2.5vh;
    margin: -0.5rem -0.2rem;
}