@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Orbitron&family=Oswald&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Orbitron&family=Oswald&family=Poppins:wght@300&family=Satisfy&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 35vh;
}

body {
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: black;
    background-size: contain;
    background-image: url("../images/background.jpg");
}

.home {
    align-items: center;
}

.hook {
    display: flex;
    background-image: url("../images/background9.jpg");
    background-size: cover;
    padding-top: 10vh;
    margin: 0vh -0.5vw;
    margin-bottom: 10vh;
    justify-content: space-around;
    align-items: center;
}

.hook img {
    display: block;
    height: 80vh;
    width: auto;
    max-width: 100%;
}

.hook h2 {
    font-size: 12vh;
    margin-top: -18vh;
    margin-left: -20vw;
    text-align: left;
}

.shortIntro {
    display: flex;
    background-color: rgba(10, 10, 10, 2);
    font-size: 2.5vh;
    padding: 5vh 4vh;
    padding-bottom: 4vh;
    margin: 20vh 6vw;
    color: white;
    justify-content: space-between;
    gap: 4vw;
    border-radius: 4vh;
}

.shortIntro p {
    text-align: justify;
}

.shortIntro h2 {
    font-size: 4vh;
}

.shortIntro .leftSide {
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left: 2vh;
}

.shortIntro img {
    display: flex;
    height: 60vh;
    width: auto;
    max-width: 100%;
    margin-bottom: -4vh;
}

.about {
    display: flex;
    align-items: center;
    margin: 0vh -0.5vw;
    background-image: url("../images/background8.jpg");
    background-size: cover;
    padding-top: 14vh;
    justify-content: center
}

.about img {
    display: block;
    height: 80vh;
    width: auto;
    max-width: 100%;
    margin-top: -3vh;
}

.about h1 {
    font-size: 15vh;
    text-align: right;
    margin-left: -4vw;
    margin-top: 0vh;
}

.aboutThisPortfolio {
    display: flex;
    background-color: rgba(10, 10, 10, 2);
    font-size: 2.5vh;
    padding: 5vh 0vw;
    padding-right: 4vw;
    padding-bottom: 0vh;
    margin: 20vh 6vw;
    color: white;
}

.aboutThisPortfolio .rightSide {
    display: block;
    margin-top: 6vh;
    margin-left: -12vw;
}

.rightSide p {
    text-align: justify;
}

.aboutThisPortfolio img {
    display: block;
    height: 60vh;
    width: auto;
    max-width: 100%;
    
}

.postsDiv {
    background-image: url("../images/background5.jpg");
    background-size: cover;
    margin: 0vh -0.5vw;
    padding-bottom: 9vh;
}

.monkey {
    display: flex;
    margin-top: -12vh;
    height: 70vh;
    justify-content: center;
    margin-bottom: -2vh;
    width: auto;
    max-width: 100%;
}

.posts {
    display: flex;
    font-size: 10vh;
    justify-content: center;
    margin-top: -33vh;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 12vh;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1vh 2vw;
    border-radius: 20px;
}

.menu a:hover {
    color: black;
    background-color: white;
    transition: 0.9s;
}

.scrollImages {
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 10vh 2vw;
    height: 70vh;
}

.scrollImages section {
    display: grid;
    justify-items: center;
    scroll-snap-align: center;
    margin: 0 40vw;
    padding: 0 2vw;
    padding-top: 4vh;
    padding-bottom: -20vh;
    border-radius: 20px;
}

.scrollImages img {
    height: 40vh;
    margin-top: -8vh;
    border-radius: 10px;
}

.scrollImages p {
    width: 50vw;
}